body {
    background: #0d0e16;
}
  
#header {
    color: #75dab4;
    margin: 5rem 0 0 0;
    font-weight: bold;
    font-size: 50px;
}

a {
    color: #75dab4;
    text-decoration: none;
}

#right-wing text {
    color: #F8F8F2;
}

#typing-area, #theme-area {
    background: #10141a;
}

#text-display {
    color: #F8F8F2;
}

#input-field {
    background: #10141a;
    color: #F8F8F2;
}

#footer {
    color: #fefefe;
}

.highlight {
    color: #66D9EF;
}

.correct {
    color: #75dab4;
}

.wrong {
    color: #F92672;
}
  